body{
    background: #999999;
    margin: 0;
}
.topInput-bar {
    top:0;
    left:0;
    right:0;
    background: #444444;
    z-index:1000;
    color: white;
}

#send{
    color: #333;
}
#message{
    color: black;
    resize: none;
    width: 400px;
    height: 50px;
}

#deleteButton{
    width : 50px;
}

#inputNotification{
    color: black;
    background: #5bc0de;
    width: 100%;
    height: 25px;
}

.messagesContainer{
    left:0;
    right:0;
}

.message{
    background: #888888;
    width: 100%;
    min-height: 50px;

    padding-left: 10px;
    padding-top : 5px;
    padding-bottom : 5px;
}

.message:nth-child(even) {
    background-color: #999999;
    width: 100%;
    min-height: 50px;

    padding-left: 10px;
    padding-top : 5px;
    padding-bottom : 5px;
}

#pageNotification{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #337ab7;
    color: white;
    text-align: center;
}

